lightning
omegaconf
jaxtyping
typeguard
git+https://github.com/KAIR-BAIR/nerfacc.git@v0.5.2
git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch
diffusers
transformers
accelerate
opencv-python
tensorboard
matplotlib
imageio
imageio[ffmpeg]
git+https://github.com/NVlabs/nvdiffrast.git
libigl==2.5.1
xatlas
trimesh[easy]
networkx
pysdf
PyMCubes
wandb
gradio==4.11.0
git+https://github.com/ashawkey/envlight.git
torchmetrics

# deepfloyd
# xformers
bitsandbytes
sentencepiece
safetensors
huggingface_hub

# for zero123
einops
kornia
taming-transformers-rom1504
git+https://github.com/openai/CLIP.git

#controlnet
controlnet_aux

# layout2scene
git+https://gitlab.inria.fr/bkerbl/simple-knn.git
git+https://github.com/ashawkey/diff-gaussian-rasterization.git
git+https://github.com/nerfstudio-project/gsplat.git
plyfile
pymeshlab
open-clip-torch
mediapipe